/wp-admin
/wp-includes
/.htaccess
/license.txt
/readme.html
/wp-content/plugins
/wp-content/uploads
/wp-content/languages
/wp-content/upgrade
/wp-content/backup-db
/wp-content/blogs.dir
/wp-content/ai1wm-backups
/wp-content/cache
/wp-content/mu-plugins
/wp-content/upgrade-temp-backup
/wp-content/index.php
/wp-content/debug.log
/wp-content/themes/index.php
/wp-content/themes/twentytwentyfour
/wp-content/f1
/wp-content/wflogs
wp-cron.php
xmlrpc.php
wp-mail.php
wp-trackback.php
wp-signup.php
wp-activate.php
wp-comments-post.php
local-xdebuginfo.php
wp-load.php
wp-login.php
wp-settings.php
wp-links-opml.php   
wp-config.php
wp-blog-header.php
wp-config-sample.php
wp-activate.php
readme.html
/wp-content/.sandbox2
apple-touch-icon.png
apple-touch-icon-precomposed.png
favicon.ico