/* purgecss start ignore */
.w-curve {
  width: 110%;
}

.w-margin {
  margin-left: -5%;
}

.spec-bg {
  background-position: bottom; 
  background-size: cover; 
  background-repeat: no-repeat;
}

.title-line {
  @apply relative;
  &:after {
    content: '';
    height: 3px;
    width: 30%;
    position: absolute;
    right: 0;
    bottom: -0.3rem;
    background-color: #87AEBF;
  }
  &.orange {
    &:after {
      @apply bg-tt-gold;
    }
  }
}

.accordion-btn {
  &.opened {
    .open {
      @apply hidden;
    }
    .close {
      @apply block;
    }
  }
}

.grayscale {
  filter: grayscale(100%);
}

.contact-content {
  p {
    @apply mb-0 leading-relaxed px-8 text-lg;
  }

  a {
    @apply underline;
  }
}

.google-map {
  @apply w-full overflow-hidden h-0 relative mt-12;
  padding-bottom: 56.25%;
  iframe {
    @apply left-0 top-0 w-full h-full absolute;
  }
}

.slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0rem;
	
	list-style-type: none;
	
		li {
			margin: 0 0.75rem !important;
		}
	
		button {
			display: block;
			width: 10px !important;
			height: 10px !important;
			padding: 0 !important;
			
      border: 1px solid !important;
      @apply border-tt-darkblue;
			border-radius: 100%;
			// background-color: blue !important;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			@apply bg-tt-darkblue;
		}
	
}

.staff-content {
  p {
    @apply leading-relaxed;
  }
}

@screen lg {
  .contact-content {
    p {
      @apply px-0;
    }
  }
}
/* purgecss end ignore */